<!-- Movie review list - some hardcoded, additional added by user: -->
<div class="sideBar">
<div class="col-md-4">
  <div ng-show="movies.length">
   <!--  <h1> </h1> this h1 creates space so its not slammed against the header....Not ideal. -->
    <ul>
      <li ng-repeat="item in movies" >
        <a ui-sref="movies.review({ movieTitle: item.title })">{{ item.title }}</a>
      </li>
    </ul>
  </div>
</div>
</div>


<div class="main">
<!-- Link for the reviews: -->
  <div class="col-md-10">
    <div ui-view="body"></div>
  </div>
<!-- Create new movie reviews: -->
  <div class="col-md-10">
    <div class="newMovie">
      <h3 class="create">Create New Movie Review</h3>
      <form ng-submit="MoviesFactory.addMovie()" id="user-input" role="form">
        <div class="form-group">
          <input type="text" ng-model="MoviesFactory.movieTitle" class="form-control" placeholder="Enter the title for the review here" required>
          <br>
          <textarea type="text area" ng-model="MoviesFactory.movieReview" class="form-control" placeholder="Enter the review text here" required></textarea>
        </div>
        
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>

</div>


